{% extends "account/base.html" %}


{% load i18n %}
{% load account socialaccount %}

{% block content %}

<!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">
<p id="profile-name" class="profile-name-card"></p>
<form class="form-signin" method="POST" action="{% url 'account_login' %}"> {% csrf_token %}
    {{ form.as_p }}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
    <button class="btn btn-lg btn-primary btn-block btn-signin primaryAction" type="submit">Sign In</button>
</form><!-- /form -->
<a class="forgot-password" href="{% url 'account_reset_password' %}">Forgot Password?</a>

{% endblock %}