<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GARGO</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
</head>
<body>
  <div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3 jumbotron">
            <div class="text-center">
                <h1>Routes List</h1>
                <form method="POST">
                    <input name="driver" id="id_new_driver" class="form-control input-lg" placeholder="Enter a driver" />
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table id="id_route_table" class="table">
                {% for route in routes %}
                    <tr><td>{{ route.driver }}</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>

  </div>
</body>